.label {
  @include flex-container;
  position: relative;
}

.box {
  @include flex-container;
  gap: 12px;
}

.input {
  border: 1px solid var(--color-grey-40);
  border-radius: 8px;
  padding: 14px 50px 14px 16px;
  width: 100%;
  box-sizing: border-box;
  line-height: 18px;
  resize: none;

  &::placeholder {
    color: var(--color-grey-50);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--color-blue-40);
  }

  &_error {
    border: 1px solid var(--color-red-40);

    &:focus {
      border: 2px solid var(--color-red-40);
    }
  }

  &:disabled {
    border: none;
  }
}

.errorMessage {
  font-size: 12px;
  color: var(--color-red-40);
}

.chips {
  @include flex-container(column);
  gap: 8px;
}

#icon {
  position: absolute;
  top: 12px;
  right: 16px;

  &_label {
    position: absolute;
    top: 44px;
    right: 16px;
  }
}
