.resultItemContainer {
  @include flex-container;
  gap: 12px;

  &__list {
    @include flex-container;
    gap: 12px;
    margin: 0;
    padding: 14px 16px;
    list-style: none;
    background-color: white;
    border-radius: 8px;
  }
}
