.fieldset {
  border: none;
  margin: auto;
  padding: 0;
  height: 400px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button {
  display: inline-block;
}

.button input {
  display: none;
}

.button label {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  width: 380px;
  height: 400px;
  background-color: var(--color-primary-light-grey);
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid var(--color-grey-20);
  padding: 7px;
}

.button input:checked + label {
  border: 8px solid var(--color-blue-40);
  border-radius: 12px;
  padding: 0;
}

.image {
  display: block;
  margin: 16px auto 0;
}

.title,
.text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  width: 80%;
  text-align: center;
}

.title {
  margin: 16px auto 0;
  color: var(--color-grey-70);
}

.text {
  color: var(--color-grey-80);
  margin: auto;
  display: none;
}

.button label:hover {
  .image,
  .title {
    display: none;
  }

  .text {
    display: block;
  }
}
