.tabs {
  width: 1180px;
}

.tabs__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 16px;
  padding: 0 50px;
}

.tab {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 12px 0 16px;

  &_active {
    border-bottom: 3px solid var(--color-blue-40);
  }
}

.tabs_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 135px;
  gap: 13px;
  height: 24px;
  align-items: center;
}

#divider:last-child {
  display: none;
}

.icon {
  width: 24px;
  height: 24px;
}
