.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab {
  cursor: pointer;
  color: var(--color-grey-80);
  padding: 8px 12px;
  border-radius: 4px;
  transition: 0.8s;
}

.active {
  background-color: var(--color-grey-80);
  color: var(--color-primary-white);
}
