.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  transition: 0.8s;
  background-color: var(--primary-white);

  &_active {
    background-color: var(--color-grey-80);
  }
}
