.card {
  width: 364px;
  height: 384px;
  background-color: rgba(250, 250, 250, 1);
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 12px;
}

.image {
  display: block;
  margin: 0 auto;
  width: 332px;
  height: 278px;
  object-fit: cover;
  object-position: center;
}

.title,
.text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(48, 50, 51, 1);
  width: 80%;
  text-align: center;
}

.title {
  margin: 16px auto 0;
}

.text {
  margin: auto;
  display: none;
}

.card:hover {
  .image,
  .title {
    display: none;
  }

  .text {
    display: block;
  }
}
