.chip {
  display: flex;
  width: fit-content;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__label {
    background-color: var(--color-orange-10);
    padding: 8px 16px;
    border-radius: 4px;
  }

  &__button {
    cursor: pointer;
    border: none;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    transition: all 0.3s ease;
    background-image: url('../../assets/icons/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    &:hover {
      opacity: 0.8;
    }
  }
}
