.dropdown {
  width: 100%;
  user-select: none;
  position: relative;
}

.label {
  display: block;
  height: 20px;
  margin-bottom: 12px;
}

.button {
  min-height: 18px;
  width: 100%;
  padding: 14px 20px 14px 16px;
  line-height: 18px;
  border: 1px solid var(--color-grey-40);
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color-primary-white);
  text-align: left;
  color: var(--color-grey-50);
  transition: 0.8s;

  &:hover {
    border: 1px solid var(--color-blue-40);
  }

  &_active {
    border: 1px solid var(--color-blue-40);
  }

  &_filled {
    background-color: var(--color-blue-20);
    border: 1px solid var(--color-blue-20);
    color: var(--color-primary-black);
  }
}

.list {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-primary-white);
  border: 1px solid var(--color-grey-40);
  box-sizing: border-box;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  width: 1180px;
  z-index: 2;
}

.option {
  padding: 14px 16px;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-grey-10);
  }
}

.icon {
  position: absolute;
  top: 44px;
  right: 20px;
}

.chips {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 8px;
  @include flex-container(column);
  gap: 8px;
}
