.footer {
  background-color: var(--color-grey-10);
  width: 100%;
}

.footer__container {
  max-width: 1440px;
  padding: 40px 96px;
  margin: auto;
}

.footer__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 8px;

  &:hover {
    opacity: 0.8;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 40px;
  align-items: center;
}

.social__link {
  display: block;
  text-decoration: none;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }
}
