.pageContainer {
  @include flex-container-just-align;
}

.cardContainer {
  @include flex-container(row);
  width: 100%;
  gap: 20px;
  position: relative;
  height: 100%;
  align-items: flex-start;
}
